# Frontend
frontend/node_modules
frontend/build
frontend/.env

# Docker
.DS_Store
*.log

#Backend
*.pyc
__pycache__
.venv/

# Other
.idea
.env.deploy
db_data/

# Deployment scripts and configs
deploy.sh
shell.nix
scripts/

#Backups
*.sql
